* {
    margin:0;
    padding:0;
}

/*GENERATOR*/

body {
    background-color: black;
    background-image: url("img/stars.gif");
}

img {
    height: 100%;
    position: absolute;
    margin-left: 360px;
    margin-top: 5px;
}

#bases > img {
    z-index: 1000;
}

.base6 {
   margin-left: 215px;
}

#seven {
    z-index: 1000;
    margin-left: 210px;
}

#sixteen {
    z-index: 1003;
    margin-left: 300px;
}

#eight {
    z-index: 1000;
    margin-left: 200px;
    margin-top: -40px;
}

#toto {
    margin-left: 300px;
}

#six {
    margin-left: 215px;
    margin-top: -20px;
}

#ten {
    z-index: 1002;
    margin-left: 300px;
}

#nine {
    margin-left: 218px;
}

#elevenbis,
#eleven     {
    margin-left: 235px;
}

#eleven {
    z-index: 1001;
}

#fifteenbis,
#fifteen     {
    margin-left: 235px;
}

#fifteen {
    z-index: 1002;
}

#fourteen {
    margin-left: 218px;
    z-index: 999;
}

p#instructions {
    margin-top: 340px;
    color: #fff;
    font-family: 'OCRASTD';
    font-size: 30px;
    text-align: center;
}

@font-face {
    font-family: 'OCRASTD';
    src: url('font/OCRAStd.otf');
}