* {
    margin:0;
    padding:0;
}

/*HOME*/

body {
    background-image : url("img/Fond1.gif");
}

.menu {
	margin-top: 280px;
	height: 900px;
	text-align: center;
}

.menu > .btn img {
    width: 320px;
    height: 256px;
}

.capsules {
	text-align: center;
}

#maison > img {
    height: 731px;
    margin-top: 20px;
}

#laboratoire > img {
    height: 731px;
}

#aqua > img {
    height: 731px;
    margin-top: 20px;
}

#megath > img {
    height: 731px;
    margin-bottom: 130px;
    margin-top: 20px;
}
  
@font-face {
    font-family: 'OCRASTD';
    src: url('font/OCRAStd.otf');
}