* {
    margin:0;
    padding:0;
}

/*HOME*/

body {
    background-image : url("img/Fond1.gif");
}

.menu {
	margin-top: 280px;
	height: 900px;
	text-align: center;
}

.menu > .btn img {
    
}

#aquabico > img {
    margin-top: 200px;
    margin-bottom: 520px;
}

.capsules {
	text-align: center;
}

#maison > img {
    height: 731px;
}
  
@font-face {
    font-family: 'OCRASTD';
    src: url('font/OCRAStd.otf');
}