* {
    margin:0;
    padding:0;
}

/*HOME*/

body {
    background-image : url("img/Fond1.gif");
}

body {
    cursor: url("img/btn/curseur.png"), pointer;
}
.menu {
	margin-top: 280px;
	height: 900px;
	text-align: center;
}

.menu > .maisonbico {
    position: relative;
    top: 150px;
    left: 350px;

}

.menu > .aquabico {
    position: relative;
    bottom: 210px;
    left: -300px;
}

.menu > .bliblibico {
    position: relative;
    bottom: -210px;
    right: -310px;

}

.menu > .labbico {
    position: relative;
    top: -150px;
    right: 300px;

}

.menu > .btn img {
    width: 320px;
    height: 256px;
}

.capsules img {
	margin: auto;
    height: 731px;
}

#maison > img {
    margin-top: 20px;
    margin-left: 255px;
}

#laboratoire > img {
    margin-left: 255px;
}

#aqua > img {
    margin-top: 20px;
    margin-left: 255px;
}

#megath > img {
    margin-bottom: 130px;
    margin-top: 20px;
    margin-left: 250px;
}
  
@font-face {
    font-family: 'OCRASTD';
    src: url('font/OCRAStd.otf');
}