* {
    margin:0;
    padding:0;
}

/*HOME*/

.menu img {
    width: 320px;
    height: 256px;
}


/*GENERATOR*/

body.generator {
    background-image: url("img/stars.gif");
}

img {
    height: 100%;
    position: absolute;
    margin-left: 360px;
    margin-top: 5px;
}

#bases > img {
    z-index: 1000;
}

#seven {
    z-index: 1000;
    margin-left: 210px;
}

#eight {
    z-index: 1000;
    margin-left: 200px;
    margin-top: -40px;
}

#toto {
    margin-left: 300px;
}

#six {
    margin-left: 215px;
    margin-top: -20px;
}

#elevenbis,
#eleven     {
    margin-left: 250px;
}

#eleven {
    z-index: 1001;
}

p#instructions {
    margin-top: 340px;
    color: #fff;
    font-family: 'OCRASTD';
    font-size: 30px;
    text-align: center;
}

@font-face {
    font-family: 'OCRASTD';
    src: url('OCRAStd.otf');
}