* {
    margin:0;
    padding:0;
}

/*HOME*/

.menu a.aquabico {
    width: 320px;
    height: 256px;
    display: block;
    background-image: url("img/aqua1.png");
}

.menu a.aquabico:hover {
    background-image: url("img/aquabico.gif");
}


/*GENERATOR*/

body.generator {
    background-image: url("img/stars.gif");
}

img {
    height: 100%;
    position: absolute;
    margin-left: 360px;
    margin-top: 5px;
}

#bases > img {
    z-index: 1000;
}

#seven {
    z-index: 1000;
    margin-left: 210px;
}

#eight {
    z-index: 1000;
    margin-left: 200px;
    margin-top: -40px;
}

#toto {
    margin-left: 300px;
}

#six {
    margin-left: 215px;
    margin-top: -20px;
}

p#instructions {
    margin-top: 400px;
    color: #fff;
    font-family: helvetica;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}